<div id="app" class="course">
    <div class="course-header">
        <div class="gradiend_img u-flex-between">
            <img src="./images/home/grad.png" />
            <img src="./images/home/grad.png" />
        </div>
        <div class="header_title u-flex-around u-flex-column" >
            <div>CATÁLOGO DE<br>CURSOS</div>
                <div class="header_title_btn u-flex-around">
                    <form class="w-100" action="/local/busqueda/index.php" id="coursesearch" method="get" style="margin-top: 0 !important;">
                    <input name="q" placeholder="¿qué curso estás buscando?"/>
                    <img src="./images/course/search.png"/>
                    </form>
                </div>
        </div>
    </div>
    <div class="footer-learn">
        <div class="footer-learn-background u-flex-around">
            <img src="/images/course/section2_back.png" />
        </div>
        <div class="section_title u-flex-around u-flex-column">
            <p><span>{{cantidadCursos}} cursos</span> disponibles para ti</p>
            <div></div>
        </div>
        <div class="u-flex-center u-responsive">
            <div class="footer-learn-item u-flex-around" @click="display_b=1">
                <div class="footer-learn-item-blue" :class="{ 'back_col': display_b==1?true:false }"></div>
                <div class="footer-learn-item-a">
                    <div class="footer-learn-item-opac u-flex-around" :class="{ 'back_col-red': display_b==1?true:false }">
                        <p>nuestro<br>consumidor</p>
                    </div>
                </div>
                <div class="triangle-bottom" :class="{ 'display_block': display_b==1?true:false }"></div>
            </div>
            <div class="footer-learn-item u-flex-around" @click="display_b=2">
                <div class="footer-learn-item-blue" :class="{ 'back_col': display_b==2?true:false }"></div>
                <div class="footer-learn-item-a">
                    <div class="footer-learn-item-opac u-flex-around" :class="{ 'back_col-red': display_b==2?true:false }">
                        <p>tu<br>onboarding</p>
                    </div>
                </div>
                <div class="triangle-bottom" :class="{ 'display_block': display_b==2?true:false }"></div>
            </div>
            <div class="footer-learn-item u-flex-around" @click="display_b=3">
                <div class="footer-learn-item-blue" :class="{ 'back_col': display_b==3?true:false }"></div>
                <div class="footer-learn-item-a">
                    <div class="footer-learn-item-opac u-flex-around" :class="{ 'back_col-red': display_b==3?true:false }">
                        <p>SEGURIDAD</p>
                    </div>
                </div>
                <div class="triangle-bottom" :class="{ 'display_block': display_b==3?true:false }"></div>
            </div>
            <div class="footer-learn-item u-flex-around" @click="display_b=4">
                <div class="footer-learn-item-blue" :class="{ 'back_col': display_b==4?true:false }"></div>
                <div class="footer-learn-item-a">
                    <div class="footer-learn-item-opac u-flex-around" :class="{ 'back_col-red': display_b==4?true:false }">
                        <p>CURSOS DEL<br>CLIENTE</p>
                    </div>
                </div>
                <div class="triangle-bottom" :class="{ 'display_block': display_b==4?true:false }"></div>
            </div>
        </div>
    </div>
    <div class="section3 u-container">
        <div class="section3-items1" :class="{ 'display_block': display_b==1?true:false }">
            <div v-for="item in cursos.p1" class="section3-item-div u-flex-around">
                <div class="section3-item">
                    <img :src="item.image"/>
                    <div class="section3-itemd-desc" >
                        <div class="section3-itemd-desc-gra" v-if="item.porcent > 0">
                            <div class="section3-itemd-desc-gra-red" :style="'width:'+item.porcent+'%'"></div>
                            <div class="section3-itemd-desc-gra-percent u-flex-around" :style="'left:'+item.porcent+'%'">{{item.porcent}}%</div>
                        </div>
                        <a :href="item.link" class="section3-itemd-desc-title" >{{item.title}}</a>
                        <div class="section3-itemd-desc-line" ></div>
                        <div class="section3-itemd-desc-text" >{{item.content}}</div>
                        <img src="./images/course/item_b.png" />
                    </div>
                </div>
            </div>
        </div>
        <div class="section3-items1" :class="{ 'display_block': display_b==2?true:false }">
            <div v-for="item in cursos.p2" class="section3-item-div u-flex-around">
                <div class="section3-item">
                    <img :src="item.image"/>
                    <div class="section3-itemd-desc" >
                        <div class="section3-itemd-desc-gra" v-if="item.porcent > 0">
                            <div class="section3-itemd-desc-gra-red" :style="'width:'+item.porcent+'%'"></div>
                            <div class="section3-itemd-desc-gra-percent u-flex-around" :style="'left:'+item.porcent+'%'">{{item.porcent}}%</div>
                        </div>
                        <a :href="item.link" class="section3-itemd-desc-title" >{{item.title}}</a>
                        <div class="section3-itemd-desc-line" ></div>
                        <div class="section3-itemd-desc-text" >{{item.content}}</div>
                        <img src="./images/course/item_b.png" />
                    </div>
                </div>
            </div>
        </div>
        <div class="section3-items1" :class="{ 'display_block': display_b==3?true:false }">
            <div v-for="item in cursos.p3" class="section3-item-div u-flex-around">
                <div class="section3-item">
                    <img :src="item.image"/>
                    <div class="section3-itemd-desc" >
                        <div class="section3-itemd-desc-gra" v-if="item.porcent > 0">
                            <div class="section3-itemd-desc-gra-red" :style="'width:'+item.porcent+'%'"></div>
                            <div class="section3-itemd-desc-gra-percent u-flex-around" :style="'left:'+item.porcent+'%'">{{item.porcent}}%</div>
                        </div>
                        <a :href="item.link" class="section3-itemd-desc-title" >{{item.title}}</a>
                        <div class="section3-itemd-desc-line" ></div>
                        <div class="section3-itemd-desc-text" >{{item.content}}</div>
                        <img src="./images/course/item_b.png" />
                    </div>
                </div>
            </div>
        </div>
        <div class="section3-items1" :class="{ 'display_block': display_b==4?true:false }">
            <div v-for="item in cursos.p4" class="section3-item-div u-flex-around">
                <div class="section3-item">
                    <img :src="item.image"/>
                    <div class="section3-itemd-desc" >
                        <div class="section3-itemd-desc-gra" v-if="item.porcent > 0">
                            <div class="section3-itemd-desc-gra-red" :style="'width:'+item.porcent+'%'"></div>
                            <div class="section3-itemd-desc-gra-percent u-flex-around" :style="'left:'+item.porcent+'%'">{{item.porcent}}%</div>
                        </div>
                        <a :href="item.link" class="section3-itemd-desc-title" >{{item.title}}</a>
                        <div class="section3-itemd-desc-line" ></div>
                        <div class="section3-itemd-desc-text" >{{item.content}}</div>
                        <img src="./images/course/item_b.png" />
                    </div>
                </div>
            </div>
        </div>
        <div class="section-triangle-div u-flex-around">
            <div class="section-triangle"></div>
        </div>
    </div>
<!--    <div class="section41">-->
<!--        <div class="section_title u-flex-around u-flex-column">-->
<!--            <p><span>116 cursos</span> disponibles para ti</p>-->
<!--            <div></div>-->
<!--        </div>-->
<!--        <div class="footer-learn-background u-flex-around">-->
<!--            <img src="./images/course/sec4_back.png" />-->
<!--        </div>-->
<!--        <div class="section3-items5 u-container">-->
<!--            <div v-for="item in cursos2" class="section3-item-div u-flex-around">-->
<!--                <div class="section3-item">-->
<!--                    <div class="video_icon u-flex-around">-->
<!--                        <img src="./images/course/video.png" />-->
<!--                    </div>-->
<!--                    <img :src="item.image" />-->
<!--                    <div class="section3-itemd-desc" >-->
<!--                        <div class="section3-itemd-desc-gra" v-if="item.progress > 0">-->
<!--                            <div class="section3-itemd-desc-gra-red" :style="'width:'+item.progress+'%'"></div>-->
<!--                            <div class="section3-itemd-desc-gra-percent u-flex-around" :style="'left:'+item.progress+'%'">{{item.progress}}%</div>-->
<!--                        </div>-->
<!--                        <a :href="item.link" class="section3-itemd-desc-title" >{{item.title}}</a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
</div>
<link rel="stylesheet" href="/local/customfront/css/grid.css">
<link rel="stylesheet" href="/local/customfront/css/catalogo.css">
<script>
    var app = new Vue({
        el: '#app',
        data: {
            cantidadCursos: '',
            isBlack: '',
            view: {
                atTopOfPage: true
            },
            mobileNavShow:false,
            msg: 'Welcome to Your Vue.js App',
            maxi_clicked: true,
            lite_clicked: false,
            isShow: 0,
            plus_clicked: false,
            display_b: 1,
            cursos: {
                p1: [
                    {
                        image: "./images/course/item1.png",
                        porcent:"60",
                        title:"TÍTULO DEL CURSO LOREM",
                        content:"Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam ",
                        link:"#"
                    },
                ],
                p2: [
                    {
                        image: "./images/course/item2.png",porcent:"30",
                        title:"TÍTULO DEL CURSO LOREM",
                        content:"Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam ",
                        link:"#"
                    },
                ],
                p3: [
                    {
                        image: "./images/course/item3.png",
                        porcent:"0",
                        title:"TÍTULO DEL CURSO LOREM",
                        content:"Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam ",
                        link:"#"
                    },
                ],
                p4: [
                    {
                        image: "./images/course/item4.png",
                        porcent:"0",
                        title:"TÍTULO DEL CURSO LOREM",
                        content:"Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam ",
                        link:"#"
                    },
                ],
            },
            cursos2: [
                {image:"./images/course/item1.png", title:"TÍTULO DEL CURSO LOREM", progress:"30", link:"#"},
                {image:"./images/course/item2.png", title:"TÍTULO DEL CURSO LOREM", progress:"60", link:"#"},
                {image:"./images/course/item3.png", title:"TÍTULO DEL CURSO LOREM", progress:"0", link:"#"},
                {image:"./images/course/item4.png", title:"TÍTULO DEL CURSO LOREM", progress:"0", link:"#"},
                {image:"./images/course/item1.png", title:"TÍTULO DEL CURSO LOREM", progress:"80", link:"#"},
                {image:"./images/course/item2.png", title:"TÍTULO DEL CURSO LOREM", progress:"90", link:"#"},
                {image:"./images/course/item3.png", title:"TÍTULO DEL CURSO LOREM", progress:"10", link:"#"},
                {image:"./images/course/item4.png", title:"TÍTULO DEL CURSO LOREM", progress:"0", link:"#"},
            ]
        },
        mounted(){
            this.getBasicInfo();
            this.getP1();
            this.getP2();
            this.getP3();
            this.getP4();
        },
        created(){

        },
        methods: {
            //agregar los 2 primero elementos para generar el scroll
            getBasicInfo: function(){
                let frm = new FormData();
                frm.append('request_type','obtenerBasicInfo');
                axios.post('/local/customfront/api/ajax_controller.php',frm)
                    .then((response) => {
                        this.cantidadCursos = response.data.data;
                    });
            },
            getP1: function(){
                let frm = new FormData();
                frm.append('request_type','obtenerCursosByCat');
                frm.append('idCat', 3);
                axios.post('/local/customfront/api/ajax_controller.php',frm)
                    .then((response) => {
                        let data = response.data.data;
                        let courses = Array();

                        Object.keys(data).forEach(key => {
                            let dataVal = data[key];
                            let title = dataVal.title;
                            let content = dataVal.content;
                            let porcent = dataVal.porcent;
                            let link = dataVal.link;
                            let image = dataVal.image;

                            let newElem = {
                                'title': title,
                                'content': content,
                                'porcent': porcent,
                                'link': link,
                                'image': image
                            };
                            courses.push(newElem);
                        });
                        this.cursos.p1 = courses;
                    });
            },
            getP2: function(){
                let frm = new FormData();
                frm.append('request_type','obtenerCursosByCat');
                frm.append('idCat', 4);
                axios.post('/local/customfront/api/ajax_controller.php',frm)
                    .then((response) => {
                        let data = response.data.data;
                        let courses = Array();

                        Object.keys(data).forEach(key => {
                            let dataVal = data[key];
                            let title = dataVal.title;
                            let content = dataVal.content;
                            let porcent = dataVal.porcent;
                            let link = dataVal.link;
                            let image = dataVal.image;

                            let newElem = {
                                'title': title,
                                'content': content,
                                'porcent': porcent,
                                'link': link,
                                'image': image
                            };
                            courses.push(newElem);
                        });
                        this.cursos.p2 = courses;
                    });
            },
            getP3: function(){
                let frm = new FormData();
                frm.append('request_type','obtenerCursosByCat');
                frm.append('idCat', 5);
                axios.post('/local/customfront/api/ajax_controller.php',frm)
                    .then((response) => {
                        let data = response.data.data;
                        let courses = Array();

                        Object.keys(data).forEach(key => {
                            let dataVal = data[key];
                            let title = dataVal.title;
                            let content = dataVal.content;
                            let porcent = dataVal.porcent;
                            let link = dataVal.link;
                            let image = dataVal.image;

                            let newElem = {
                                'title': title,
                                'content': content,
                                'porcent': porcent,
                                'link': link,
                                'image': image
                            };
                            courses.push(newElem);
                        });
                        this.cursos.p3 = courses;
                    });
            },
            getP4: function(){
                let frm = new FormData();
                frm.append('request_type','obtenerCursosByCat');
                frm.append('idCat', 6);
                axios.post('/local/customfront/api/ajax_controller.php',frm)
                    .then((response) => {
                        let data = response.data.data;
                        let courses = Array();

                        Object.keys(data).forEach(key => {
                            let dataVal = data[key];
                            let title = dataVal.title;
                            let content = dataVal.content;
                            let porcent = dataVal.porcent;
                            let link = dataVal.link;
                            let image = dataVal.image;

                            let newElem = {
                                'title': title,
                                'content': content,
                                'porcent': porcent,
                                'link': link,
                                'image': image
                            };
                            courses.push(newElem);
                        });
                        this.cursos.p4 = courses;
                    });
            },
        }
    })
</script>