.display_block{
    display: flex;
  }
  .course-header{
    position: relative;
    background-image: url(/images/course/header_back.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 550px;
  }
  .header_title{
    position: absolute;
    z-index: 2;
    bottom: 30%;
    right:25%;
  }
  .header_title>div{
    font-size: 42px;
    color: #fff;
    text-align: right;
    letter-spacing: 15px;
  }
  .header_title_btn {
    position: relative;
    font-size: 12px!important;
    border: 2px solid white;
    width: 100%;
    height: 40px;
    border-radius: 20px;
    margin-top: 20px;
    overflow: hidden;
  }
  .header_title_btn input{
    height: 100%;
    width: 100%;
    padding: 10px;
    background:none;
    color: white;
    border: none;
  }
  .header_title_btn img{
    position: absolute;
    right: 10px;
  }
  
  .gradiend_img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .gradiend_img img{
    width: 33.4%;
    height: 100%;
    z-index:1;
  }
  
  @media only screen and (max-width: 1024px) {
  .header_title {
    right: 10%;
    bottom: 35%;
  }
  .gradiend_img{
    display: none;
  }
  .header_title div{
    font-size: 32px;
    color: #00314b;
    color: #fff;
    text-align: right;
    letter-spacing: 0px;
  }
  }
  /**================================================
  section2
  ===================================================**/
  
  
  .footer-learn{
    position: relative;
    padding: 50px 10%;
    margin-top: -5vw;
    z-index: 1;
    border-bottom: 1px solid #00314b;
  }
  @media only screen and (max-width: 1024px) {
  .footer-learn {
      margin-top: -9vw;
      padding: 50px 0;
  }
  }
  @media only screen and (max-width: 785px) {
  
  .footer-learn {
      margin-top: -19vw;
  }
  }
  .footer-learn-item{
    width: 270px;
    margin-top: 40px;
    cursor: pointer;
    display: flex;
  }
  .footer-learn-item-blue{
    width: 70px;
    height: 70px;
    background: #00314b;
    border-top-right-radius: 40%;
    border-bottom-left-radius: 40%;
  }
  .footer-learn-item-opac{
    width: 220px;
    height: 50px;
    background: rgba(213, 217, 207, 0.5);
    border-radius: 25px;
    color: #00314b;  
  }
  .footer-learn-item p{
    font-size: 12px;  
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  .footer-learn-item p.p-bottom{
    padding-left: 80px;
  }
  .footer-learn-item img{
    margin-left: 20px;
  }
  .footer-learn-item-a{
    margin-left: -85px;
  }
  .footer-learn-item:hover p{
    color: black!important;
    transition: 0.3s;
  }
  .triangle-bottom {
    display: none;
    width: 50px;
    height: 50px;
    border: 1px solid #00314b;
    position: absolute;
    transform: rotate(45deg);
    bottom: -26px;
    border-bottom: none;
    border-right: none;
    background-color: white;
  }
  
  
  /**================================================
  section3
  ===================================================**/
  
  
  .section3{
    position: relative;
    display: flex;
    padding: 50px 10%;
  }
  .section3-items1{
    width: 100%;
    display: none;
  }
  .section3-items5{
    width: 100%;
    padding: 0px 10%;
    margin-top: 50px;
  }
  .section3-item-div{
    width: 25%;
    float: left;
  }
  .section3-item{
    position: relative;
    width: 200px;
    height: 300px;
    border-top-right-radius: 35px;
    border-bottom-left-radius: 35px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 25px 0;
    background: white;
  }
  .section3-item>img{
    width: 100%;
  }
  .section3-itemd-desc{
    padding: 10px;
  }
  .section3-itemd-desc-gra{
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 4px;
    background: grey;
    border-radius: 5px;
    margin-bottom: 5px;
  }
  .section3-itemd-desc-gra-red{
    width: 30%;
    height: 8px;
    border-radius: 5px;
    background: red;
  }
  .section3-itemd-desc-gra-percent{
    position: absolute;
    left: 30%;
    top: -40px;
    width: 50px;
    height: 35px;
    background-color: #00314b;
    color: white;
    border-radius: 5px;
    border-bottom-left-radius: 0px;
    display: none;
  }
  .section3-itemd-desc-gra-percent::before{
    content: "";
      width: 0;
      height: 0;
      border-right: 15px solid transparent;
      border-top: 8px solid #00314b;
    position: absolute;
    bottom: -8px;
    left: 0px;
    display: none;
  }
  
  .section3-itemd-desc-gra:hover .section3-itemd-desc-gra-percent, .section3-itemd-desc-gra-percent::before{
    display: flex;
  }
  .section3-itemd-desc-title{
    font-size: 13px;
    color: #00314b;
    padding-top: 5px;
    letter-spacing: 2px;
  }
  .section3-itemd-desc-line{
    width: 50px;
    height: 5px;
    background-color: #00314b;
    margin: 5px auto;
  }
  .section3-itemd-desc-text{
    font-size: 12px;
    color: #00314b;
  }
  .section3-itemd-desc img{
    position: absolute;
    right: 15px;
    bottom: 15px;
  }
  
  .display_block{
    display: block!important;
  }
  .back_col{
    background: rgb(0, 49, 75, 1)!important;
  }
  .back_col-red{
    background: #db4750!important;
    color: white!important;
  }
  
  .section-triangle-div{
      position: absolute;
      bottom: -25px;
    width: 80%;
  }
  .section-triangle{
      width: 50px;
      height: 50px;
      transform: rotate(45deg);
      background: white;
      z-index: 1;
  }
  
  
  
  
  
  /**================================================
  section4
  ===================================================**/
  
  
  .section41{
    position: relative;
    padding: 100px 0%;
    background: rgb(0, 0, 0, 0.3)!important;
    display: flex;
    flex-direction: column;
  }
  
  
  .section41 .section3-item{
    position: relative;
    width: 200px;
    height: 250px;
  }
  .section41 .section3-items1{
    display: flow-root;
  }
  .section41 .section_title p{
    color: white;
  }
  .section41 .section_title span{
    color: white;
  }
  .section41 .section_title div{
    background-color: white;
  }
  .video_icon{
   position: absolute;
   width: 100%;
    background: rgb(0, 0, 0, 0.3)!important;
    border-top-right-radius: 35px;
    height: 118px;
  }
  
  
  @media only screen and (max-width: 1024px) {
  .section3-item-div{
    width: 50%;
  }
  }
  @media only screen and (max-width: 785px) {
  .section3-item-div{
    width: 100%;
  }
}
.header_title_btn input::placeholder{
  color: white;
}
.header_title_btn input::-webkit-input-placeholder { color: white; } /* WebKit */
.header_title_btn input ::-moz-placeholder { color: white; }

/*custom*/

.section3-item img {
  width: 200px !important;
  height: 200px !important;
}

#page-site-catalogo #page-content {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

#page-site-catalogo #region-main-box {
  margin-right: 0 !important;
  margin-left: 0 !important;
}
