#page-site-index #nav-drawer {
    display: none;
}

body#page-site-index {
    margin-left: 0 !important;
}

#page-site-index #page-header {
    display: none !important;
}

#page-site-index #region-main {
    padding: 0 !important;
}

#page-site-index #region-main-box {
    padding: 0 !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
}

#page-site-index .card-body {
    padding: 0 !important;
}

#page-site-index .container {
    padding: 0 !important;
    max-width: 100% !important;
}

#page-site-index #scrollView1 {
    margin-top: 0 !important;
}

/*#page-site-index #page-footer {*/
/*    display: none !important;*/
/*}*/

#page-site-index #page-content {
    padding-bottom: 0 !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.padding-top-8 {
    padding-top: 8% !important;
}

#page-site-index .section3-item img {
    width: 200px !important;
    height: 124px !important;
}

#page-footer {
    display: none !important;
}

.urbanova-login-button1 {
    background: #EB4956 0 0 no-repeat padding-box;
    box-shadow: 0 3px 6px #00000029;
    color: #FFFFFF !important;
    border-radius: 26px;
    width: 100%;
    line-height: 50px;
    text-decoration: none;
}

.urbanova-login-button1-container {
    text-align: center;
    margin-bottom: 10%;
}

.urbanova-login-text {
    font-size: 10px;
    text-align: left;
    letter-spacing: 3.19px;
    color: #00314B !important;
    opacity: 1 !important;
}

.urbanova-login-button2-container {
    text-align: center;
    margin-top: 15%;
}

.urbanova-login-button2 {
    background: #EB4956 0 0 no-repeat padding-box;
    box-shadow: 0 3px 6px #00000029;
    color: #FFFFFF;
    border-radius: 23px;
    width: 50%;
    height: 46px;
    border: none;
}

.urbanova-login-rectangle {
    background: #0a0a0a00 linear-gradient(0deg, #ffffff 0%, #7d7d7d 100%) 0 0 no-repeat padding-box;
    opacity: 0.1;
    width: 409px;
    height: 17px;
    margin-top: 10%;
}