<footer>
    <div id="footer">
        <div class="footer-top u-responsive">
            <div class="footer-top-left u-flex-around u-responsive">
                <div class="foooter-top-left-item float-left">
                    <p>MAPA DEL AULA VIRTUAL</p>
                    <ul>
                        <li><a href="/">HOME</a></li>
                        <li><a href="/catalogo">CATÁLOGO</a></li>
                        <li><a href="#">TIENDA</a></li>
                    </ul>
                </div>
                <div class="foooter-top-left-item float-left">
                    <p>MI PERFIL</p>
                    <ul>
                        <li><a href="/my">MI DASHBOARD</a></li>
                        <li><a href="#">MIS CURSOS</a></li>
                        <li><a href="#">¿AYUDA?</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-top-right">
                <p>SÍGUENOS EN NUESTRAS REDES</p>
                <a><img src="/images/footer/social1.png" /></a>
                <a><img src="/images/footer/social2.png" /></a>
                <a><img src="/images/footer/social3.png" /></a>
            </div>
        </div>
        <div class="footer-down">2021 URBANOVA todos los derechos reservados</div>
    </div>
</footer>