<div id="app">
    <div class="q-comentario-container">
        <div class="q-comentario-title">COMENTARIOS</div>
        <div style="margin-top: 30px;">
            <input class="q-comentario-input" v-model="comentTxt" placeholder="Añade un comentario...">
        </div>
        <div style="text-align: right; margin-top: 10px;">
            <input @click="comentar" class="q-comentario-button" type="button" value="COMENTAR"></div>
        <div v-for="item in comentarios" class="q-comentarios-container">
            <div class="row" style="margin-left: 1%; margin-top: 10px;">
                <div style="color: #085CB7; font-weight: 500; line-height: 30px;">a</div>
                <div style="margin-left: 1%;color: #9F9F9F; line-height: 30px;">b</div>
            </div>
            <div style="margin-left: 1%;">
                {{item.comentario}}
            </div>
        </div>
    </div>
</div>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            comentarios: [],
        },
        mounted(){
        },
        created(){
        },
        methods: {
        }
    })
</script>