<div id="app" class="course">
    <div class="course-header">
        <div class="header_title u-flex-around u-responsive" >
            <div>
                <p>ACTIVO DESDE EL {(dateReg)}</p>
                <div>{(username)}</div>
            </div>
            <div class="header_title-person u-flex-around">
                <img :src="userPhoto" />
            </div>
        </div>
    </div>
    <div id="scrollView3" class="carousel-wrap" data-aos="fade-up">
        <div class="section_title u-flex-around u-flex-column">
            <p><span>Tus cursos </span>pendientes</p>
            <div></div>
        </div>
        <div class="footer-learn-background u-flex-around">
            <img src="./images/mycourse/section2.png" />
        </div>
        <div class="carousel u-container">
            <div id="carousel-conten" :style="'width:'+cursos.config.anchoCarrusel+'px; margin-left:'+cursos.config.position+'px'">
                <div v-for="item in cursos.item" class="col" :style="'width:'+cursos.config.anchoItem+'px'">
                    <div class="section3-item-div u-flex-around">
                        <div class="section3-item">
                            <img :src="item.image" />
                            <div class="section3-itemd-desc" >
                                <div class="section3-itemd-desc-gra">
                                    <div class="section3-itemd-desc-gra-red" :style="'width: '+item.progress+'%'"></div>
                                    <div class="section3-itemd-desc-gra-percent u-flex-around" :style="'left: '+item.progress+'%'">{(item.progress)}%</div>
                                </div>
                                <a :href="item.link" class="section3-itemd-desc-title" >{(item.title)}</a>
                                <div class="section3-itemd-desc-line" ></div>
                                <div class="section3-itemd-desc-text" >{(item.content)}</div>
                                <img src="./images/course/item_b.png" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="options">
                <ul data-v-3d1a4f76="" class="slick-dots">
                    <li v-if="cursos.config.anchoView > 1350" v-for="(item, key) in cursos.item.length - 3" :class="{'slick-active':cursos.config.actual == key+1}">
                        <button @click="movLeft(key+1)">{(key)}</button>
                    </li>
                    <li v-if="cursos.config.anchoView > 768 && cursos.config.anchoView <= 1350" v-for="(item, key) in cursos.item.length - 2" :class="{'slick-active':cursos.config.actual == key+1}">
                        <button @click="movLeft(key+1)">{(key)}</button>
                    </li>
                    <li v-if="cursos.config.anchoView <= 786" v-for="(item, key) in cursos.item.length" :class="{'slick-active':cursos.config.actual == key+1}">
                        <button @click="movLeft(key+1)">{(key)}</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="section4">
        <div class="section_title u-flex-around u-flex-column">
            <p><span>Tus cursos </span>pendientes 2</p>
            <div></div>
        </div>
        <div class="section_search u-flex-between u-responsive">
            <div class="header_title_btn u-flex-around"><input placeholder="¿qué curso estás buscando?" v-model="searchCursos"/><img src="./images/mycourse/search.png"/></div>
            <div class="header_title_btn u-flex-around">
                <select>
                    <Option>filtrar por categoría</Option>
                    <Option>filtrar por categoría</Option>
                    <Option>filtrar por categoría</Option>
                </select>
            </div>
        </div>
        <div v-for="item in searchCurse" class="section4-item u-flex-between u-responsive">
            <div class="section4-itemd-img">
                <img :src="item.image" />
                <div class="team-cards-desc-star u-flex-around">
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                </div>
            </div>
            <div class="section4-itemd-desc u-flex-between u-flex-column" >
                <div class="section4-itemd-desc-title" >{(item.title)}</div>
                <div class="section4-itemd-desc-gra">
                    <div class="section4-itemd-desc-gra-red" :style="'width:'+item.progress+'%'"></div>
                    <div class="section4-itemd-desc-gra-percent u-flex-around" :style="'left:'+item.progress+'%'">{(item.progress)}%</div>
                </div>
            </div>
            <div class="section4-itemd-desc-buttons">
                <div class="u-flex-between">
                    <img src="./images/mycourse/cal.png" />
                    <p>{(item.date)}</p>
                </div>
                <a :href="item.link" class="section4-itemd-desc-button">ACCEDER</a>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.min.js"></script>
<script>
    var app = new Vue({
        el: '#app',
        delimiters: ['{(', ')}'],
        data: {
            dateReg: '',
            username: '',
            userPhoto: '',
            isBlack: '',
            view: {
                atTopOfPage: true
            },
            mobileNavShow:false,
            maxi_clicked: true,
            lite_clicked: false,
            isShow: 0,
            plus_clicked: false,
            display_b: 1,
            cursos: {
                item:[
                    {
                        image: "./images/course/item1.png",
                        title: "TÍTULO DEL CURSO LOREM",
                        progress: "30",
                        content: "Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam",
                        link: "#"
                    },
                    {
                        image: "./images/course/item1.png",
                        title: "TÍTULO DEL CURSO LOREM",
                        progress: "30",
                        content: "Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam",
                        link: "#"
                    }
                ],
                config: {
                    anchoView: 0,
                    items: 0,
                    anchoItem: 0,
                    anchoCarrusel: 0,
                    actual: 1,
                    position: 0,
                }
            },
            cursosPen: [
                {
                    image: './images/mycourse/item1.png',
                    title:'Curso de asdf',
                    date:'14 de abril, 2020',
                    progress:'30',
                    link:"#"
                },
            ],
            searchCursos: '',
        },
        created(){
            this.resizeCarrusel();
            window.onresize = (event)=> {
                this.resizeCarrusel();
            };
        },
        mounted(){
            this.obtenerUsuario();
        },
        computed: {
            searchCurse: function (){
                return this.cursosPen.filter((item) => item.title.includes(this.searchCursos));
            },
            // searchUsers: function(){
            //   return this.usuarios.filter((item) => item.name.includes(this.searchAlumnos));
            // },
        },
        methods: {
            obtenerUsuario() {
                let frm = new FormData();
                frm.append('request_type','obtenerUsuario');
                axios.post('../local/customfront/api/ajax_controller.php',frm)
                        .then((response) => {
                            let data = response.data.data;
                            this.dateReg = data.dateReg;
                            this.username = data.username;
                            this.userPhoto = data.userPhoto;
                        });
            },
            resizeCarrusel(){
                this.cursos.config.anchoView = document.documentElement.clientWidth*0.8;
                let cant = this.cursos.item.length;

                if(this.cursos.config.anchoView > 1350*0.8){
                    this.cursos.config.anchoItem = this.cursos.config.anchoView/4;

                } else if(this.cursos.config.anchoView > 768*0.8){
                    this.cursos.config.anchoItem = this.cursos.config.anchoView/2;

                } else{
                    this.cursos.config.anchoItem = this.cursos.config.anchoView;
                }

                this.cursos.config.anchoCarrusel = this.cursos.config.anchoItem*cant;
                console.log(this.cursos.config);
                this.movLeft(1);
            },
            movLeft(key){
                this.cursos.config.actual = key;
                let p = this.cursos.config.actual-1;
                this.cursos.config.position = this.cursos.config.anchoItem*p*-1;
            },
        },
    })
</script>