<div id="app" class="hello">
    <div id="scrollView1" class="carousel-wrap" data-aos="fade-up" :style="'height:'+carrusel.config.heigthCarrusel+'px'">
        <div class="gradiend_img u-flex-between">
            <img src="./images/home/grad.png" />
            <img src="./images/home/grad.png" />
        </div>
        <div class="carousel-container">
            <div class="carusel" ref="carousel" :style="'width:'+carrusel.config.anchoCarrusel+'px; margin-left: '+carrusel.config.position+'px'">
                <div v-for="item in carrusel.items" class="col" :style="'width:'+carrusel.config.anchoItem+'px'">
                    <img :src="item.src" />
                </div>
            </div>
        </div>
        <div class="slick-slider slick-initialized">
            <ul class="slick-dots">
                <li v-for="(item, key) in (carrusel.items.length - 2)" :class="{'slick-active': carrusel.config.actual == (key + 1)}">
                    <button @click="movLeft(key+1)">{{key + 1}}</button>
                </li>
            </ul>
        </div>
        <div class="header_title u-flex-around u-flex-column" >
            <p>¡Bienvenido!</p>
            <div>loreM IPSUM<br>LOREM IPSU</div>
            <p>Lorem ipsum dolor sit amet.</p>
            <a href="#" id="btn-acc" class="header_title_btn u-flex-around">ACCEDER</a>
        </div>
    </div>
    <div class="footer-learn">
        <div class="footer-learn-background u-flex-around">
            <img src="./images/home/learn_back.png" />
        </div>
        <div class="section_title u-flex-around u-flex-column">
            <p><span>Lorem</span> ipsum dolor sit amet.</p>
            <div></div>
        </div>
        <div class="u-flex-center u-responsive">
            <a href="#" class="footer-learn-item u-flex-around">
                <div class="footer-learn-item-blue"></div>
                <div class="footer-learn-item-a">
                    <div class="footer-learn-item-opac u-flex-between">
                        <img src="./images/home/hart.png" />
                        <p>MIS CURSOS</p>
                    </div>
                    <p class="p-bottom">Acumula puntos</p>
                </div>
            </a>
            <a href="#" class="footer-learn-item u-flex-around">
                <div class="footer-learn-item-blue"></div>
                <div class="footer-learn-item-a">
                    <div class="footer-learn-item-opac u-flex-between">
                        <img src="./images/home/hart4.png" />
                        <p>CATÁLOGO<br>DE CURSOS</p>
                    </div>
                    <p class="p-bottom">+ de 100 cursos para ti</p>
                </div>
            </a>
        </div>
    </div>
    <div id="scrollView2" class="carousel-wrap u-container">
        <div class="section_title u-flex-around u-flex-column">
            <p>Testimonio</p>
            <div></div>
        </div>
        <div id="test" class="carousel-container">
            <div class="carusel2" :style="'width:'+tetimonio.config.anchoCarrusel+'px; margin-left: '+tetimonio.config.position+'px'">
                <div v-for="item in tetimonio.items" class="col" :style="'width:'+tetimonio.config.anchoItem+'px'">
                    <div class="col-items u-flex-center">
                        <div class="team-cards u-flex-center">
                            <img :src="item.avatar" />
                            <img class="team-cards-sign" src="./images/home/sign.png" />
                            <div class="team-cards-desc u-flex-between u-flex-column">
                                <p>{{item.text}}</p>
                                <div>
                                    <div class="team-cards-desc-line"></div>
                                    <div class="team-cards-desc-star u-flex-around">
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="scrollView2-text">Nuestros alumnos respaldan nuestra calidad educativa</div>
        <div class="slick-slider slick-initialized2">
            <ul class="slick-dots">
                <li v-if="carrusel.config.anchoView > 1480" v-for="(item, key) in tetimonio.items.length - 2" :class="{'slick-active': tetimonio.config.actual == key+1}">
                    <button @click="movLeft2(key+1)">{{key}}</button>
                </li>
                <li v-if="carrusel.config.anchoView > 768 && carrusel.config.anchoView <= 1480" v-for="(item, key) in tetimonio.items.length - 1" :class="{'slick-active': tetimonio.config.actual == key+1}">
                    <button @click="movLeft2(key+1)">{{key}}</button>
                </li>
                <li v-if="carrusel.config.anchoView <= 768" v-for="(item, key) in tetimonio.items.length" :class="{'slick-active': tetimonio.config.actual == key+1}">
                    <button @click="movLeft2(key+1)">{{key}}</button>
                </li>
            </ul>
        </div>
    </div>
    <div class="linetriangle u-flex-around u-container">
        <img src="./images/home/linetriangle.png" />
    </div>
    <div class="section_title u-flex-around u-flex-column">
        <p>Accede a los útimos cursos</p>
        <div></div>
    </div>
    <div class="section3 u-container">
        <div class="section3-items1" :class="{ 'display_block': true }">
            <div v-for="item in cursos" class="section3-item-div u-flex-around">
                <div class="section3-item">
                    <img :src="item.image"/>
                    <div class="section3-itemd-desc" >
                        <div class="section3-itemd-desc-gra" v-if="item.porcent > 0">
                            <div class="section3-itemd-desc-gra-red" :style="'width:'+item.porcent+'%'"></div>
                            <div class="section3-itemd-desc-gra-percent u-flex-around" :style="'left:'+item.porcent+'%'">{{item.porcent}}%</div>
                        </div>
                        <a :href="item.link" class="section3-itemd-desc-title" >{{item.title}}</a>
                        <div class="section3-itemd-desc-line" ></div>
                        <div class="section3-itemd-desc-text" >{{item.conten}}</div>
                        <img src="./images/course/item_b.png" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            isBlack: '',
            isSelected: '',
            view: {
                atTopOfPage: true
            },
            mobileNavShow:false,
            fadeShow1: 1,
            cookie_hide: false,
            isPlay:true,
            isActive: 0,
            isShow: 1,
            first_slide: false,
            settings:{
                "dots": true,
                "edgeFriction": 0.35,
                "infinite": false,
                "speed": 500,
                "autoplay":true,
                "autoplaySpeed": 20000,
                "slidesToShow": 3,
                "slidesToScroll": 1,
                "arrows": true,
                "infinite": true,
                "responsive": [
                    {
                        "breakpoint": 1500,
                        "settings": {
                            "slidesToShow": 2,
                            "slidesToScroll": 1,
                            "infinite": true,
                            "dots": true
                        }
                    },
                    {
                        "breakpoint": 785,
                        "settings": {
                            "slidesToShow": 1,
                            "slidesToScroll": 1,
                            "infinite": true,
                            "dots": true
                        }
                    }
                ]
            },
            settings1:{
                "dots": true,
                "edgeFriction": 0.35,
                "infinite": false,
                "speed": 500,
                "autoplay":true,
                "autoplaySpeed": 20000,
                "slidesToShow": 4,
                "slidesToScroll": 1,
                "arrows": true,
                "infinite": true,
                "responsive": [
                    {
                        "breakpoint": 1350,
                        "settings": {
                            "slidesToShow": 2,
                            "slidesToScroll": 1,
                            "infinite": true,
                            "dots": true
                        }
                    },
                    {
                        "breakpoint": 785,
                        "settings": {
                            "slidesToShow": 1,
                            "slidesToScroll": 1,
                            "infinite": true,
                            "dots": true
                        }
                    }
                ]
            },
            carrusel:{
                items: [
                    {src: "./images/home/head_car_1.png"},
                    {src: "./images/home/head_car_2.png"},
                    {src: "./images/home/head_car_3.png"},
                ],
                config: {
                    anchoView: 0,
                    anchoCarrusel: 0,
                    anchoItem: 0,
                    heigthCarrusel: 0,
                    actual: 1,
                    position: 0,
                }
            },
            tetimonio: {
                items: [
                    {avatar: "./images/home/avatar1.png", text:"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostru"},
                    {avatar: "./images/home/avatar2.png", text:"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostru"},
                    {avatar: "./images/home/avatar3.png", text:"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostru"},
                    {avatar: "./images/home/avatar4.png", text:"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostru"},
                    {avatar: "./images/home/avatar1.png", text:"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostru"},
                ],
                config: {
                    anchoView: 0,
                    anchoCarrusel: 0,
                    anchoItem: 0,
                    heigthCarrusel: 0,
                    actual: 1,
                    position: 0,
                }
            },
            cursos: [
                {image: "./images/course/item1.png",porcent:"60", title:"TÍTULO DEL CURSO LOREM",conten:"Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam ", link: "#"},
                {image: "./images/course/item2.png",porcent:"30", title:"TÍTULO DEL CURSO LOREM",conten:"Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam ", link: "#"},
                {image: "./images/course/item3.png",porcent:"0", title:"TÍTULO DEL CURSO LOREM",conten:"Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam ", link: "#"},
                {image: "./images/course/item4.png",porcent:"0", title:"TÍTULO DEL CURSO LOREM",conten:"Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam ", link: "#"},
                {image: "./images/course/item1.png",porcent:"60", title:"TÍTULO DEL CURSO LOREM",conten:"Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam ", link: "#"},
                {image: "./images/course/item2.png",porcent:"30", title:"TÍTULO DEL CURSO LOREM",conten:"Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam ", link: "#"},
                {image: "./images/course/item3.png",porcent:"0", title:"TÍTULO DEL CURSO LOREM",conten:"Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam ", link: "#"},
                {image: "./images/course/item4.png",porcent:"0", title:"TÍTULO DEL CURSO LOREM",conten:"Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam ", link: "#"},
            ],
        },
        created(){
            this.carruselCreated();
            window.onresize = (event)=> {
                this.resizeCarrusel();
                this.resizeCarrusel2();
            };
            setInterval(() => {
                if(this.carrusel.config.actual < this.tetimonio.items.length - 2){
                    this.movLeft(this.carrusel.config.actual+1);
                } else{
                    this.movLeft(1);
                }
            }, 3000);
        },
        methods: {
            //agregar los 2 primero elementos para generar el scroll
            carruselCreated(){
                this.carrusel.items.push(this.carrusel.items[0]);
                this.carrusel.items.push(this.carrusel.items[1]);
                this.resizeCarrusel();
                this.resizeCarrusel2();
            },
            resizeCarrusel(){
                this.carrusel.config.anchoView = document.documentElement.clientWidth;
                let cant = this.carrusel.items.length;

                if(this.carrusel.config.anchoView > 1480){
                    this.carrusel.config.anchoItem = this.carrusel.config.anchoView/3;
                    this.carrusel.config.heigthCarrusel = this.carrusel.config.anchoItem*0.9;
                } else if(this.carrusel.config.anchoView > 768){
                    this.carrusel.config.anchoItem = this.carrusel.config.anchoView/2;
                    this.carrusel.config.heigthCarrusel = this.carrusel.config.anchoItem*0.87;
                } else{
                    this.carrusel.config.anchoItem = this.carrusel.config.anchoView;
                    this.carrusel.config.heigthCarrusel = this.carrusel.config.anchoItem*0.91;
                }

                this.carrusel.config.anchoCarrusel = this.carrusel.config.anchoItem*cant;
            },
            resizeCarrusel2(){
                this.tetimonio.config.anchoView = document.getElementById("test").clientWidth;
                let cant = this.tetimonio.items.length;

                if(this.carrusel.config.anchoView > 1480){
                    this.tetimonio.config.anchoItem = this.tetimonio.config.anchoView/3;
                    this.tetimonio.config.heigthCarrusel = this.tetimonio.config.anchoItem*0.9;
                } else if(this.carrusel.config.anchoView > 768){
                    this.tetimonio.config.anchoItem = this.tetimonio.config.anchoView/2;
                    this.tetimonio.config.heigthCarrusel = this.tetimonio.config.anchoItem*0.87;
                } else{
                    this.tetimonio.config.anchoItem = this.tetimonio.config.anchoView;
                    this.tetimonio.config.heigthCarrusel = this.tetimonio.config.anchoItem*0.91;
                }

                this.tetimonio.config.anchoCarrusel = this.tetimonio.config.anchoItem*cant;
                console.log(this.tetimonio.config);
            },
            movLeft(key){
                this.carrusel.config.actual = key;
                let p = this.carrusel.config.actual-1;
                this.carrusel.config.position = this.carrusel.config.anchoItem*p*-1;
            },
            movLeft2(key){
                this.tetimonio.config.actual = key;
                let p = this.tetimonio.config.actual-1;
                this.tetimonio.config.position = this.tetimonio.config.anchoItem*p*-1;
            }
        }
    })
</script>