#page-site-catalogo #nav-drawer {
    display: none;
}

body#page-site-catalogo {
    margin-left: 0 !important;
}

#page-site-catalogo #page-header {
    display: none;
}

#page-site-catalogo #region-main {
    padding: 0 !important;
}

#page-site-catalogo .card-body {
    padding: 0 !important;
}

#page-site-catalogo .container {
    padding: 0 !important;
    max-width: 100% !important;
}

/*#page-site-catalogo #page-footer {*/
/*    display: none !important;*/
/*}*/

#page-site-catalogo #page-content {
    padding-bottom: 0 !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
}

#page-site-catalogo #region-main-box {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

#page-site-catalogo #page-header {
    display: none !important;
}

#page-site-catalogo .card .card-body {
    display: none !important;
    overflow: hidden !important;
}