#page-local-busqueda-index #nav-drawer {
    display: none;
}

body#page-local-busqueda-index {
    margin-left: 0 !important;
}

#page-local-busqueda-index #page-header {
    display: none !important;
}

#page-local-busqueda-index #region-main {
    padding: 0 !important;
}

#page-local-busqueda-index #region-main-box {
    padding: 0 !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
}

#page-local-busqueda-index .card-body {
    padding: 0 !important;
}

#page-local-busqueda-index .container {
    padding: 0 !important;
    max-width: 100% !important;
}

#page-local-busqueda-index #scrollView1 {
    margin-top: 0 !important;
}

/*#page-local-busqueda-index #page-footer {*/
/*    display: none !important;*/
/*}*/

#page-local-busqueda-index #page-content {
    padding-bottom: 0 !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
}